.canvas {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: #141f11;
  stroke: #3bf507;
  fill: #e6ede4;
}

.originator {
  transform-origin: center;
  transform-box: fill-box;
  cursor: pointer;
}

.originator:hover {
  transform:scale(1.2, 1.2);
  fill: #3bf507;
}

.zone {
  fill: rgba(255,255,255,0.1);
  stroke: #3bf50766;
}
